* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url(../img/diseño-web-mex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  line-height: 20px;
  width: 100%
}

.menu-bar {
  display: none;
}

header {
  width: 100%;
  background: #023859;
  position: fixed;
  height: 60px;
  z-index: 1000;
}

header .logo {
  margin: auto;
  padding: 6px 40px;
  float: left;
}

header .logo img {
  width: 45px;
  height: 45px;
}

header nav {
  z-index: 1000;
  max-width: 1000px;
  width: 95%;
  margin: auto;
  float: right;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  position: relative;
}

header nav ul li .caret {
  position: relative;
  top: 3px;
  margin-left: 10px;
  margin-right: 0px;
}

header nav ul li:hover {
  background: #e6344a;
}

header nav ul li:hover .children {
  display: block;
}

header nav ul li .children {
  display: none;
  background: #011826;
  position: absolute;
  width: 150%;
  z-index: 1000;
}

header nav ul li .children li {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

header nav ul li a {
  color: white !important;
  display: block;
  text-decoration: none !important;
  padding: 20px;
}

header nav ul li a span {
  margin-right: 10px;
}

.contenedor {
  background: rgba(13, 49, 211, 0.452);
  width: 100%;
  height: 800px;
  margin: auto;
  padding-top: 60px;
  position: relative;
}

.contenedor div {
  width: 50%;
  margin: 20px 0;
  text-align: center;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contenedor div h1 {
  padding: 10px;
  font-size: 40px;
}

.contenedor div p {
  font-size: 20px;
}

.contenedor .bt-banner {
  background: transparent;
  width: 500px;
  height: 70px;
  line-height: 27px;
  border-radius: 5px;
  padding: 15px 30px;
  border: 2px solid #f2f2f2;
  margin-top: 140px;
}

.contenedor .bt-banner:hover {
  background: rgba(12, 8, 214, 0.6);
}

.bt-banner a {
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.cont-about {
  width: 100%;
  height: auto;
  background: #ebdada;
  padding: 30px 0px;
}

.cont-about .container {
  text-align: center;
}

.img-about .row .col-lg-4 img {
  width: 160px;
  height: 160px;
}

.cont-servicios {
  background: #f2f2f2;
  padding: 30px 0px;
}

.cont-servicios .container {
  text-align: center;
}

.imgs-servicios .row {
  padding: 20px 0px;
}

.imgs-servicios .row div img {
  width: 500px;
  height: 300px;
}

.cont-proyectos {
  padding: 30px 0px;
  background: #023859;
}

.cont-proyectos .container {
  text-align: center;
  color: white;
}

.img-proyectos img {
  width: 280px;
  height: 180px;
  padding: 10px;
}

.cont-contact {
  padding: 30px 0px;
  background: rgba(255, 255, 255, 0.6);
}

footer {
  width: 100%;
  height: auto;
  background: #023859;
  padding: 20px;
}

footer .container .row {
  color: white;
  padding-top: 30px;
}

footer .container .row img {
  width: 120px;
  height: 120px;
  margin: 10px 20px;
}

.list-contact ul {
  list-style: none;
}

.list-contact ul li {
  padding: 5px;
}

.list-contact ul li span {
  padding-right: 6px;
}

.logo-footer {
  text-align: center;
}

.redes {
  text-align: center;
}

.redes div {
  margin-top: 30px;
  padding: 8px 0px;
}

.redes div span {
  font-size: 35px;
  padding: 10px;
}

.copyright {
  color: white;
  text-align: center;
  margin-top: 15px;
}

/* Ventanas modales */
.modal-vermas figure{
  text-align: center;
}
.modal-vermas figure img{
  width: 60%;
}


/* Estilos Modo Responsive */
/* menor o igual 800px de ancho */
@media screen and (max-width: 800px) {
  body {
    padding-top: 80px;
  }

  header {
    background: none;
  }

  header .logo img {
    display: none;
  }

  .menu-bar {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #e6344a;
  }

  .menu-bar .bt-menu {
    display: block;
    padding: 20px;
    color: white;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }

  .menu-bar span {
    float: right;
    font-size: 40px;
  }

  header nav {
    background: #023859;
    width: 80%;
    height: calc(100% - 80px);
    position: fixed;
    right: 100%;
    margin: 0;
    overflow: scroll;
  }

  header nav ul li {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  header nav ul li a {
    display: block;
  }

  header nav ul li:hover .children {
    display: none;
  }

  header nav ul li .children {
    width: 100%;
    position: relative;
  }

  header nav ul li .children li a {
    margin-left: 20px;
  }

  .contenedor {
    height: 400px;
  }

  .contenedor div h1 {
    font-size: 35px;
  }

  .contenedor div p {
    font-size: 15px;
  }

  .contenedor .bt-banner {
    width: 400px;
    height: 50px;
    margin-top: 180px;
    padding: 10px 30px;
  }

  .bt-banner a {
    font-size: 22px;
    margin: 10px;
  }

  .img-proyectos img {
    width: 420px;
    height: 220px;
  }
}

/* mayor o igual 768px de ancho y menor o igual 992px de ancho */
@media screen and (min-width:768px) and (max-width:992px) {

  header nav {
    float: none;
  }

  header nav ul li a {
    padding: 20px 10px;
  }

  .contenedor {
    height: 500px;
  }

  .contenedor .bt-banner {
    width: 400px;
    height: 50px;
    margin-top: 180px;
    padding: 10px 30px;
  }


}